.cabecera {
    font-family: sans-serif;
    font-size:  50px;
    margin: 0px;
    margin-right: 60px;
    padding: 0px;
    color: #F5F2F1;
    float: next;


    
}

#cabecera1 {
    color: #F5F2F1;
    float: left;

}

#cabecera2 {
    color: #F5F2F1;


}