#cabecera {
    font-family: sans-serif;
    font-size:  40px;

    margin: 0px;
    margin-right: 80px;
    padding: 0px;
    color: #F5F2F1;
}
#cabecera2 {
    font-family: sans-serif;
    font-size:  40px;

    margin: 0px;
    margin-right: 80px;
    padding: 0px;
    color: #F5F2F1;
}