

.Usuario {
    font-family: sans-serif;
    font-size:  50px;
    margin: 0px auto;
    
    padding: 0px;
    color: #F5F2F1;
    float: left;
    
}
.Curso {
    font-family: sans-serif;
    font-size:  50px;
    margin: 0px auto;
    padding: 0px;
    color: #F5F2F1;
    float: left;
    margin-right: 60px;
    
}
#cabecera1 {
    color: #F5F2F1;
    float: left;
    position: fixed;
    

}

#cabecera2 {
    color: #ffffff;
    

}

