/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/05/2018, 01:34:15 PM
    Author     : Andres
*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family: 'Quicksand', sans-serif;
        
}

body{
    background: #FFFFFA;
    
}

header{
    width: 100%;
    


}


 header nav{
        width: 20%;
        height: 100%;
        margin: 0px;
        position:fixed;
        background: #036fab;
        
}
header nav ul li{
display:block; 
float: none;
border-bottom: 1px solid rgba(255,255,255,.5);
padding: 20px;
   
}
.menu_bar{

display: block;
width: 100%;
background:#000033;

            
}
.menu_bar .btn_menu{
    display: block;
    padding: 30px;
 
}
.menu_bar .btn_menu{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
        
}

.links{
    color: #ffffff;
    text-decoration: none;
        
    
    
}
header nav ul li:hover{
    background-color: #0066ff; 
    
    
}
section{
    float: right;
    width: 75%;
    
}
.logo{
    float:left;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    
    
}
.user{
   /*margin-left: 70px;
   margin-bottom: 10px;*/
   width: 70px;
   height: 70px;
   
    
}
#progreso{
    padding: 50px;
    margin: 30px;
    
}
#formulario{
    
    padding: 50px;
    
}
.styleImage {
    width: 75%;
    max-height: 4%;
}


.dataR{
    width: 25%;
    float:right;
    
    
}
.img{
    width: 100%;
    height: 4%;
    
}
.contenti{
    width: 60%;
    
}