<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.AsesoriaEstudianteMapper">
    
    <insert parameterType="map" id="registroAsesoriaEstudiante">
        INSERT INTO asesoriaestudiante(asesoria_monitor_asesoriaid,estudiante_carnet,observaciones)
        VALUES (#{aseID},#{carnet},#{obs})
        ON CONFLICT on constraint asesoriaestudiante_pk DO UPDATE SET
        observaciones = #{obs}
    </insert>
    
    <resultMap type="AsesoriaEstudiante" id="AsesoriaEstudianteResult" >
        <id property="asesoriaID" column="asesoriaid"/>
        <id property="estudianteID" column="carnet"/>
        <result property="observaciones" column="ase_observaciones"/>
        <association property="asistente" javaType="Estudiante" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.EstudianteMapper.EstudianteResult'/>
        <collection property="temas" ofType="Tema" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TemaMapper.TemaResult' notNullColumn="temaid"/>
    </resultMap>
</mapper>
