<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.AsesoriaMapper">
    
    <select parameterType="map" id="consultaAsesoriasGeneral" resultMap="AsesoriaResult">
        select 
        
            materia.materia_id,
            materia.materia_nombre as m_nombre,
            materia.materia_nemonico as m_nemonico,
            materia.creditos as m_creditos,
            materia.horas_monitoria_curso as m_horas_monitoria_curso,

            tema.temaid,
            tema.topic as tm_topic,
            tema.descripcion as tm_descripcion,

            grupo.grupoid,
            grupo.grupo_nombre as gr_grupo_nombre,
            grupo.numeroestudiante as gr_numeroestudiante,
            grupo.horario_monitor as gr_horario_monitor,

            profesorGrupo.profesorid as pr_profesorid,
            profesorGrupo.nombres as pr_nombres,
            profesorGrupo.apellidos as pr_apellidos,
            profesorGrupo.correo as pr_correo,
            profesorGrupo.telefono as pr_telefono,

            semestre.semestre_id,
            date_part('year',semestre."year") as se_year,
            semestre.periodo_academico as se_periodo_academico,
            semestre.fechainicio as se_fechainicio,
            semestre.fechafin as se_fechafin,

            monitor.codigo_id,
            monitor.nombres as mo_nombres,
            monitor.apellidos as mo_apellidos,
            monitor.correo as mo_correo,
            monitor.telefono as mo_telefono,
            monitor.semestreingreso as mo_semestreingreso,
            monitor.programa_academico as mo_programa_academico,

            asesoriamonitor.asesoriaid,
            asesoriamonitor.inicio_asesoria as asm_inicio_asesoria,
            asesoriamonitor.fin_asesoria as asm_fin_asesoria,
            asesoriamonitor.ip_asesoria as asm_ip_asesoria,
        
            asesoriaestudiante.observaciones as ase_observaciones,
            
            profesorEstudiante.profesorid as prE_profesorid,
            profesorEstudiante.nombres as prE_nombres,
            profesorEstudiante.apellidos as prE_apellidos,
            profesorEstudiante.correo as prE_correo,
            profesorEstudiante.telefono as prE_telefono,   

            estudiante.carnet,
            estudiante.nombre as es_nombre,
            estudiante.grupo as es_grupo
    
	from materia join grupo on (materia_id=grupo.materia_materia_id) 
	    join semestre on (semestre.semestre_id=grupo.semestre_semestre_id)
	    join monitor on (monitor.codigo_id=grupo.monitor_codigo_id)
	    join profesor as profesorGrupo on (profesorGrupo.profesorid=grupo.profesor_profesor_id)
	    join asesoriamonitor on (monitor.codigo_id=asesoriamonitor.monitor_asesoria_id)
	    left join asesoriaestudiante on (asesoriamonitor.asesoriaid=asesoriaestudiante.asesoria_monitor_asesoriaid)
	    left join profesor as profesorEstudiante on (asesoriaestudiante.profesorestudianteid=profesorEstudiante.profesorid)
	    left join estudiante on (estudiante.carnet=asesoriaestudiante.estudiante_carnet)
	    left join temamonitoria on (temamonitoria.asesoriaestudiante_asesoria_monitor_asesoriaid = asesoriaestudiante.asesoria_monitor_asesoriaid
	    					and temamonitoria.asesoriaestudiante_estudiante_carnet = asesoriaestudiante.estudiante_carnet)
	    left join tema on (temamonitoria.tema_temaid=tema.temaid)
        
        <where>
            <if test="perID != null">
                <if test="state == 0">
                    monitor.codigo_id = #{perID}
                    <if test="act != null">
                        AND asesoriamonitor.inicio_asesoria = #{act}
                    </if>
                </if>
                <if test="state == 1">
                    profesorGrupo.profesorid = #{perID}
                </if>
                <if test="state == 2">
                    profesorEstudiante.profesorid = #{perID}
                </if>
            </if>
                
            <if test="semID != null">
                AND semestre.semestre_id = #{semID}
            </if>
        </where>
	
    </select>  
     
    <update id="finalizarMonitoria" >
        UPDATE asesoriamonitor SET
	fin_asesoria = #{act}
	WHERE asesoriaid = #{asID}
    </update>
    
    <insert parameterType="map" id="registroAsesoriaMonitor" useGeneratedKeys="true" keyProperty="asesoriaID">
        INSERT INTO asesoriamonitor(inicio_asesoria,fin_asesoria,ip_asesoria,monitor_asesoria_id)
        VALUES (#{act},#{act},#{Ip},#{monID})
    </insert>
    
    
    <resultMap type="Asesoria" id="AsesoriaResult" >
        <id property="asesoriaID" column="asesoriaid"/>
        <result property="fecha" column="asm_inicio_asesoria"/>
        <association property="grupo" javaType="Grupo" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.GrupoMapper.GrupoResult'/>
        <collection property="asesoriasEstudiante" ofType="AsesoriaEstudiante" notNullColumn="carnet"  resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.AsesoriaEstudianteMapper.AsesoriaEstudianteResult'/>
    </resultMap>
</mapper>
