<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.GrupoMapper">
     
    <resultMap type="Grupo" id="GrupoResult" >
        <id property="grupoID" column="grupoid"/>
        <result property="grupoNombre" column="gr_grupo_nombre"/>
        <result property="numeroDeEstudiantes" column="gr_numeroestudiante"/>
        <result property="horarioMonitor" column="gr_horario_monitor"/>
        <association property="monitor" javaType="Monitor" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.MonitorMapper.MonitorResult'/>
        <association property="materia" javaType="Materia" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.MateriaMapper.MateriaResult'/>
        <association property="profesor" javaType="Profesor" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ProfesorMapper.ProfesorResult'/>
        <association property="semestre" javaType="Semestre" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.SemestreMapper.SemestreResult'/>
    </resultMap>
    
</mapper>
