<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.GrupoMapper">
    
    <select parameterType="map" id="consultarGruposMateria" resultMap="GrupoResult">
        select 
        
            materia.materia_id,
            materia.materia_nombre as m_nombre,
            materia.materia_nemonico as m_nemonico,
            materia.creditos as m_creditos,
            materia.horas_monitoria_curso as m_horas_monitoria_curso,

            tema.temaid,
            tema.topic as tm_topic,
            tema.descripcion as tm_descripcion,

            grupo.grupoid,
            grupo.grupo_nombre as gr_grupo_nombre,
            grupo.numeroestudiante as gr_numeroestudiante,
            grupo.horario_monitor as gr_horario_monitor,

            profesor.profesorid as pr_profesorid,
            profesor.nombres as pr_nombres,
            profesor.apellidos as pr_apellidos,
            profesor.correo as pr_correo,
            profesor.telefono as pr_telefono,

            semestre.semestre_id,
            date_part('year',semestre."year") as se_year,
            semestre.periodo_academico as se_periodo_academico,
            semestre.fechainicio as se_fechainicio,
            semestre.fechafin as se_fechafin
        
        from materia join grupo on (materia_id=grupo.materia_materia_id) 
	    left join semestre on (semestre.semestre_id=grupo.semestre_semestre_id)
	    left join profesor on (profesorid=profesor_profesor_id)
	    left join tema on (materia_id=tema.materia_materia_id)
        
        where materia.materia_id = #{matID} AND
            semestre.semestre_id = #{SemID}
        
    </select>
        
    <resultMap type="Grupo" id="GrupoResult" >
        <id property="grupoID" column="grupoid"/>
        <result property="grupoNombre" column="gr_grupo_nombre"/>
        <result property="numeroDeEstudiantes" column="gr_numeroestudiante"/>
        <result property="horarioMonitor" column="gr_horario_monitor"/>
        <association property="monitor" javaType="Monitor" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.MonitorMapper.MonitorResult'/>
        <association property="materia" javaType="Materia" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.MateriaMapper.MateriaResult'/>
        <association property="profesor" javaType="Profesor" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ProfesorMapper.ProfesorResult'/>
        <association property="semestre" javaType="Semestre" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.SemestreMapper.SemestreResult'/>
    </resultMap>
    
</mapper>
