<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.MateriaMapper">
    <select parameterType="map" id="consultarMateria" resultMap="materiaResult">
        select
            materia.materia_id,
            materia.materia_nombre as m_nombre,
            materia.materia_nemonico as m_nemonico,
            materia.creditos as m_creditos,
            materia.horas_monitoria_curso as m_horas_monitoria_curso,

            tema.temaid,
            tema.topic as tm_topic,
            tema.descripcion as tm_descripcion,

            am.fecha as am_fecha,
            am.profesor as am_profesor,
            am.observacones as am_observacones,
            am.monitor as am_monitor,
            am.materia as am_materia,
            am.grupo as am_grupo,
            am.estudiantes as am_estudiantes,
            am.temaMonitoria as am_temaMonitoria,

            grupo.grupoid,
            grupo.grupo_nombre as gr_grupo_nombre,
            grupo.numeroestudiante as gr_numeroestudiante,
            grupo.horario_monitor as gr_horario_monitor

        FROM materia join tema on (tema.materia_materia_id = materia.materia_id)
            join grupo on (grupo.materia_materia_id = materia.materia_id)
            join asesoriamonitor on ()
        where materia.materia_id = #{codId}
    </select>

    <insert id="insertarMateria" parameterType="map" useGeneratedKey="true">
        INSERT INTO MATERIA VALUES (#{materia.planEstudios},#{materia.codigo},#{materia.materia},#{materia.memoico},#{materia.horas})
    </insert>

    <resultMap type='Materia' id='materiaResult'>
        <id property='codigo' column='codigo'></id>
        <result property='materia' column='materia'></result>
        <result property='memoico' column='memoico'></result>
        <result property='horas' column='horas'></result>
        <result property='grupos' column='grupos'></result>
    </resultMap>

</mapper>

