<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ProfesorMapper">
    
    <resultMap type="Profesor" id="ProfesorResult" >
        <id property="codigoID" column="pr_profesorid"/>
        <result property="nombre" column="pr_nombres"/>
        <result property="apellido" column="pr_apellidos"/>
        <result property="correo" column="pr_correo"/>
        <result property="telefono" column="pr_telefono"/>
    </resultMap>
    
    <resultMap type="Profesor" id="ProfesorEstudianteResult" >
        <id property="codigoID" column="pre_profesorid"/>
        <result property="nombre" column="pre_nombres"/>
        <result property="apellido" column="pre_apellidos"/>
        <result property="correo" column="pre_correo"/>
        <result property="telefono" column="pre_telefono"/>
    </resultMap>
    
</mapper>