<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "">

<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TemaMapper">
<select parameterType="map" id="consultarTemas" resultMap="TemaResult">
    select 
    
    tm.temId,
    tm.topic,
    tm.topics,
    tm.descripcion,
    
    m.codigo as materia_codigo,
    m.materia as materia_materia,
    m.memoico as materia_memoico,
    m.horas as materia_horas,
    m.grupos as materia_grupos,
    
    am.fecha as AsesoriaMonitor_fecha,
    am.profesor as AsesoriaMonitor_profesor,
    am.observacones as AsesoriaMonitor_observacones,
    am.monitor as AsesoriaMonitor_monitor,
    am.materia as AsesoriaMonitor_materia,
    am.grupo as AsesoriaMonitor_grupo,
    am.estudiantes as AsesoriaMonitor_estudiantes,
    am.temaMonitoria as AsesoriaMonitor_temaMonitoria
    
    FROM Tema as tm
    where tm.temId=#{temId}
</select>
<insert id="insertarTema" parameterType="map" useGeneratedKeys="true">
    INSERT INTO TEMAS VALUES(#{tema.temId},#{tema.topic},#{tema.topics},#{tema.descripcion})
</insert>

<resultMap type='Tema' id='TemaResult'>
    <id property='temId' column="temId"></id>
    <result property='topic' column="topic"></result>
    <result property='topics' column="topics"></result>
    <result property='descripcion' column="descripcion"></result>
</resultMap>

</mapper>