<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    
    <typeAliases>
        <typeAlias type='edu.eci.pdsw.samples.entities.Grupo' alias='Grupo'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Materia' alias='Materia'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Monitor' alias='Monitor'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Profesor' alias='Profesor'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Semestre' alias='Semestre'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Tema' alias='Tema'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Asesoria' alias='Asesoria'/>
    </typeAliases>        

        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-54-235-109-37.compute-1.amazonaws.com:5432/d6utcl6me32ip1?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/>
                <property name="username" value="rvoofqbcfdgqwt" />
                <property name="password" value="2024b9fe45899e721e3a50bbc1edc1104a2d1866a11398e28465b5007dc99ca4" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/GrupoMapper.xml"></mapper>
        <mapper resource="mappers/MateriaMapper.xml"></mapper>
        <mapper resource="mappers/MonitorMapper.xml"></mapper>
        <mapper resource="mappers/ProfesorMapper.xml"></mapper>
        <mapper resource="mappers/SemestreMapper.xml"></mapper>
        <mapper resource="mappers/TemaMapper.xml"></mapper>
        <mapper resource="mappers/AsesoriaMapper.xml"></mapper>
    </mappers> 
        
        
</configuration>