<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    
    <typeAliases>
        <typeAlias type='edu.eci.pdsw.samples.entities.Grupo' alias='Grupo'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Materia' alias='Materia'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Monitor' alias='Monitor'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Profesor' alias='Profesor'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Semestre' alias='Semestre'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Tema' alias='Tema'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Asesoria' alias='Asesoria'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Estudiante' alias='Estudiante'/>
    </typeAliases>        

        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-54-235-109-37.compute-1.amazonaws.com:5432/d6utcl6me32ip1?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/>
                <property name="username" value="rntqwknbnlsskx" />
                <property name="password" value="5c50140ecd7fba9f194fce3b0aae3f01df7472b98b9e8863831cfa165a178d6a" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/GrupoMapper.xml"/>
        <mapper resource="mappers/MateriaMapper.xml"/>
        <mapper resource="mappers/MonitorMapper.xml"/>
        <mapper resource="mappers/ProfesorMapper.xml"/>
        <mapper resource="mappers/SemestreMapper.xml"/>
        <mapper resource="mappers/TemaMapper.xml"/>
        <mapper resource="mappers/AsesoriaMapper.xml"/>
        <mapper resource="mappers/EstudianteMapper.xml"/>
    </mappers> 
        
        
</configuration>